/* General Reset */
:root {
    --font-size-lg: 2em;
    --font-size-md: 1.5em;
    --font-size-sm: 1em;
    --main-color: #fd9b06;
    --secondary-color: #ff6600;
    --background-overlay: rgba(0, 0, 0, 0.35);
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    padding: 50px 0; /* Отступы внутри секции */
    min-height: 100vh;
}

body {
    font-size: var(--font-size-sm);
    background: #f5f5f5;
    color: #333;
}

h2 {
    font-size: var(--font-size-lg);
    text-align: center;
    margin: 20px 0;
}

/* Header Section */

#background-video {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    align-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Полупрозрачный чёрный слой */
    z-index: -1;
    overflow: hidden;
    padding-bottom: 70vh;
    /* box-shadow: 0 -20px 3px #f5f5f5; */
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;
    background-color: #141e30;
}

.hero .btn {
    font-size: var(--font-size-md);
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.video-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-left {
    flex: 1;
    color: #cccccc;
}

.hero-right {
    flex: 1;
    text-align: right;
    color: #cccccc;
}

.hero h1 {
    font-size: 3em;
}

.hero-line {
    width: 400px;
    height: 2px;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    margin-top: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 20px;
    font-size: var(--font-size-sm);
    border: none;
    background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
    border-radius: 5px;
}
.btn:hover {
    background: linear-gradient(45deg, #ff9900, #ff3300);
}

.hero .btn {
    padding: 10px 20px;
    background: #f90;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em; 
}
/* Gallery */
.gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.gallery-item {
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Masonry Gallery */
.masonry-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 15px;
    margin: 0 auto;
    padding: 10px;
}

.masonry-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Modal */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px 5vw;
    background: white;
    width: 70%; /* Уменьшение ширины */
    max-height: 100vh; /* Ограничение высоты */
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.9); /* Легкий сдвиг вниз */
    transition: transform 0.2s ease-out; /* Анимация */
}
.modal.open .modal-content {
    opacity: 1;
    transform: scale(1);
}
.modal-left {
    display: flex;
    width: 70vw;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #342e2e;
    
}

.modal-left img {
    max-width: 70vw;
    max-height: 80vh; /* Изображение не выходит за пределы */
    border-radius: 8px;
}

.modal-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
}

.modal-right h3 {
    font-size: 2em;
    color: #444;
    border-bottom: 2px solid #fd9b06;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.modal-right p {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: justify;
}

.modal-right ul {
    list-style-type: none;
    padding-left: 0;
}

.modal-right ul li {
    margin: 5px 0;
    padding-left: 25px;
    position: relative;
    font-size: 1em;
}

.modal-right ul li:before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #f90;
    font-size: 1.2em;
}

.modal-right a {
    text-decoration: none;
    color: #f90;
    font-weight: bold;
    transition: color 0.3s;
}

.modal-right a:hover {
    color: #ff7f00;
}

.modal-content button {
    margin: 10px;
    border: none;
    background: rgba(52, 46, 46, 0.51);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2em;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #fd9b06;
}

#professional-works {
    position: relative;
    padding: 100px 5vw;
    color: #fff;
    background: radial-gradient(circle, #1e1e2f, #141414);
    text-align: center;
}
/* Professional Works Container */
.professional-container {   
    display: flex;
    justify-content: space-between; /* Размещает элементы с равными отступами */
    align-items: center; /* Выравнивает элементы по вертикали */
    gap: 50px; /* Отступы между элементами */
    position: relative; /* Для точной настройки дочерних элементов */
    padding-top: 15vh;
}

.professional-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #1e1e2f, #141414);
    z-index: -1;
    opacity: 0.8;
}

/* Navigation Dots */
.work-navigation {
    position: absolute;
    left: 1vw;
}

.work-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.work-navigation li {
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    transition: background 0.3s ease;
}

.work-navigation li.active-dot {
    background: var(--main-color);
}

.work-navigation li:hover {
    background: var(--secondary-color);
}
.work-thumbnail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.work-thumbnail img {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
.work-thumbnail img:hover {
    transform: scale(1.05);;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Work Year Section */
.work-year {
    flex: 1;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.work-date {
    font-size: 4rem;
    font-weight: bold;
    color: var(--secondary-color);
}

/* Work Info Section */
.work-info {
    flex: 1.5;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    cursor: pointer;
}
.work-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fd9b06;
}

.work-info p {
    font-size: 1.1rem;
    margin-bottom: 8px;
    line-height: 1.5;
}

@media (max-width: 816px) {
    .hero {
        height: auto;
        position: page;
        object-fit: cover;
        background-size: cover;
    }

    #background-video {
        object-fit: cover;
        height: 100vh;
    }

    .overlay {
        position: absolute;
        align-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.15); /* Полупрозрачный чёрный слой */
        z-index: -1;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero .btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
    
    .hero-right{
        flex-flow: column;
        align-items: center;
    }
    
    .masonry-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .gallery {
        flex-direction: row;
        align-items: center;
    }

    .modal-content {
        padding: 3vh 5vw;
        flex-direction: column;
        width: 90%;
    }
}

@media (max-width: 600px) {
    /* Уменьшаем отступы в секциях */
    section {
        padding: 30px 10px;
    }

    /* Уменьшаем размер шрифта в заголовках */
    h1, h2 {
        font-size: 1.5em;
    }

    /* Сокращаем размеры кнопок и текста */
    .btn {
        font-size: 0.8em;
        padding: 10px 15px;
    }

    .hero-content {
        flex-direction: column;
        gap: 15px;
    }

    .video-container {
        flex: none;
        width: 100%;
        margin: 0;
    }

    .professional-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    /* Для карточек галереи */
    .gallery-item {
        width: 100%;
    }
    .hero-left, .hero-right {
        width: 100%;
        text-align: center;
    }

    .hero h1 {
        font-size: 2em;
        text-align: center;
    }
    .hero p {
        font-size: 1.1em;
        margin-bottom: 20px;
    }

    .modal-content {
        width: 95%;
        padding: 10px;
        box-sizing: border-box;
    }

    .modal-left img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .modal-right {
        padding: 10px;
        font-size: 0.9em;
    }
    .gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .work-thumbnail img {
        width: 100%;
        height: auto;
    }

    .carousel img {
        width: 100%;
        height: auto;
    }
    /* Убираем фиксированное меню */
    .work-navigation {
        position: relative;
        top: auto;
        transform: none;
        left: auto;
    }

    .work-navigation ul {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    /* Преобразуем соцсети в вертикальный список */
    .social-links {
        flex-direction: column;
    }
    .gallery {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .masonry-gallery {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* Карусель на мобильных устройствах */
    .carousel-buttons button {
        font-size: 1.2em;
        padding: 10px;
    }

    .carousel-btn {
        top: 50%;
        font-size: 1.5em;
        transform: translateY(-50%);
    }
    .modal-left img {
        width: 100%;
        height: auto;
    }

    .modal-right {
        padding: 15px;
        font-size: 0.9em;
    }

    .modal-content {
        padding: 5vw;
        width: 90%;
        box-sizing: border-box;
    }
    .work-navigation {
        display: none; /* Скрытие точек навигации на мобильных */
    }

    .carousel-buttons {
        display: none; /* Скрытие кнопок карусели */
    }
}

/* Carousel */
.image-carousel img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный */
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5em;
    transition: background 0.3s ease, transform 0.3s ease;
    z-index: 10;
    opacity: 0.8;
}

.carousel-btn:hover {
    background: rgba(0, 0, 0, 0.8); /* Более тёмный при наведении */
    transform: scale(1.1); /* Немного увеличиваем */
}

#prev-image {
    left: 15px;
}

#next-image {
    display: flex;
    right: 15px
}
.carousel-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.2);
}

/* Footer */
footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
